<div class="jumbotron">
  <h1 class="display-4">Success!</h1>
  <p class="lead">The email has been sent to <i>{{email}}</i>! </p>
  <hr class="my-4">
  <p>Please check your inbox and click the confirmation link once you finished the route.</p>
  <a class="btn btn-primary btn-outline-success my-2 my-sm-0" href="/profile" role="button" style="background-color: #052C77; color: white; border-color:white;">Back to Profile</a>
</div>
