
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #057717;">
    <a class="navbar-brand" href="#">GreenCDMX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="#">
            {{!-- <img src="/public/images/bootstrap-solid.svg" width="30" height="30" alt=""> --}}
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>

      </ul>

    </div>
  </nav>

<div class="jumbotron">
  <h1 class="display-4">Success!</h1>
  <p class="lead">The email has been sent to <i>{{email}}</i>! </p>
  <hr class="my-4">
  <p>Please check your inbox and click the confirmation link once you finished the route.</p>
  <a class="btn btn-primary btn-outline-success my-2 my-sm-0" href="/profile" role="button" style="background-color: #052C77; color: white; border-color:white;">Back to Profile</a>
</div>
