<div class="jumbotron">
  <h1 class="display-4">This route was already confirmed</h1>
  <p class="lead">CO2 and Calories have already been credited to your account!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-outline-success my-2 my-sm-0" href="/profile" role="button" style="background-color: #052C77; color: white; border-color:white;">Back to Profile</a>
</div>
